@font-face {
  font-family: "UT-DTM-Mono";
  src: url("../../assets/fonts/DTM-Mono.otf");
}

#nav-container {
  height: 10%;
  padding: 0px;
  width: 100vw;
  border-bottom: 3.5px solid white;
  font-family: "UT-DTM-Mono";
  margin-bottom: 10px;
  position: static;
}

.navbar {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav-item {
  padding: 10px;
}

.nav-item a {
  color: orange;
  text-decoration: none;
}

.nav-item a:hover {
  color: yellow;
  text-decoration: none;
}
